extends mail

block header
    tr
        td(style='background:#337ab7; text-align:center', bgcolor='#337ab7', align='center', valign='middle')
            a(href='#{frontend_url}?utm_source=email&utm_campaign=password_recover&utm_midium=email', title='visitar o site')
                img(src='#{frontend_imgs}header_p_recover.png', alt='Visitar o site', style='border:0; display:block; margin:0; max-width:600px', width='100%', border='0')
block content
    tr
        td.xpgoo_cell_bordered(bgcolor='#fff', style='background:#fff; border-left:1px solid #d3e0e9; border-right:1px solid #d3e0e9; padding:5% 9% 20px 9%; text-align:left;')
            strong(style='font-size: 18px; font-weight:700; color:#333; display:block') Ol&aacute; #{name}
            p.xpgoo_desc(style='max-width: 350px; color: #777; margin: 14px 0 0 0; line-height:26px;')
                | Uma solicita&ccedil;&atilde;o de recupera&ccedil;&atilde;o de senha
                | foi feita para sua conta em nosso site.
                br
                | O código para recuperação é #[strong(style="font-size: 18px;") #{token}].
    tr
      td.xpgoo_cell_bordered(bgcolor='#fff', height='200', style='background:#fff; border-left:1px solid #d3e0e9; border-right:1px solid #d3e0e9; padding:0px 9%; text-align:left;')
        p(style='text-align: center; color: #777; font-size: 11px;')
          a(href='#{frontend_password}#{token}', title='Recuperar minha senha', style='display:block;', target='_blank')
            img.xpgoo_cta(src='#{frontend_imgs}cta_p_recover.png', border='0', alt='botão recuperar senha', style='display:block; border:0; margin: 0 auto;')
          | 
          br
          | 
          span(style='overflow-wrap: break-word;word-wrap: break-word;-ms-word-break: break-all;word-break: break-all;word-break: break-word; line-height:150%;')
            | Ou se preferir copie e cole o link abaixo em seu navegador 
            br
            | #{frontend_password}#{token}
    tr
      td.xpgoo_cell_bordered(bgcolor='#fff', height='200', style='height: 200px; background:#fff; border-left:1px solid #d3e0e9; border-right:1px solid #d3e0e9; padding:0px 9%; text-align:left;')
        p(style='text-align: center; color: #777; margin:0 0 20px 0;')
            i(style='display:inline-block; max-width: 450px;') O link tem validade de 1h e pode ser usado apenas uma vez.
        br
        br
        p(style='text-align: center; color: #777; margin:0 0 70px 0;')
          span(style='max-width: 450px; margin: 0 auto; display: inline-block; line-height:150%;')
            | Se n&atilde;o foi voc&ecirc; quem solicitou, basta ignorar este e-mail. 
            br
            | Sua senha n&atilde;o ser&aacute; alterada at&eacute; que voc&ecirc; crie uma nova.